<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Football Fixtures - Team Fixtures</title>
 <link rel="stylesheet"href="{{ url_for('static', filename='Styles.css') }}">
</head>
<body>

<div class="topnav">
    <a href="/">Home</a>
  <a href="/standings">Standings</a>
  <a href="/results">Results</a>
<div class="dropdown"> Teams
    <div class="dropdown-content">

        <button  type="button" ><a href="/teams/fc-arsenal">Arsenal</a></button>

    <button  type="button" ><a href="/teams/aston-villa">Aston Villa</a></button>

    <button  type="button" > <a href="/teams/brighton-amp-hove-albion">Brighton and Hove Albion</a></button>

    <button  type="button" ><a href="/teams/fc-burnley">Burnley</a></button>

    <button  type="button" ><a href="/teams/fc-chelsea">Chelsea</a></button>

    <button  type="button" ><a href="/teams/crystal-palace">Crystal Palace</a></button>

    <button  type="button" ><a href="/teams/fc-everton">Everton</a></button>

    <button  type="button" ><a href="/teams/fc-fulham">Fulham</a></button>

    <button  type="button" ><a href="/teams/leeds-united">Leeds United</a></button>

    <button  type="button" ><a href="/teams/leicester-city">Leicester City</a></button>

    <button  type="button" ><a href="/teams/fc-liverpool">Liverpool</a></button>

    <button  type="button" ><a href="/teams/manchester-city">Manchester City</a></button>

    <button  type="button" ><a href="/teams/manchester-united">Manchester United</a></button>

    <button  type="button" ><a href="/teams/newcastle-united">Newcastle United</a></button>

    <button  type="button" ><a href="/teams/sheffield-united">Sheffield United</a></button>

    <button  type="button" ><a href="/teams/fc-southampton">Southampton</a></button>

    <button  type="button" ><a href="/teams/tottenham-hotspur">Spurs</a></button>

    <button  type="button" ><a href="/teams/west-bromwich-albion">West Bromwich Albion</a></button>

    <button  type="button"><a href="/teams/west-ham-united">West Ham United</a></button>

    <button  type="button" ><a href="/teams/wolverhampton-wanderers">Wolves</a></button>
</div>
    </div>
     <a class="active" href="/contact">Contact</a>
</div>
</div>

<div class="main-text">

    <h3>Contact</h3>
    <h5>
        If you would like to get in touch with me, you can reach out to me on: <br><br>
        <a href="https://github.com/UC-chellaph"><img src="{{ url_for('static', filename='GitHub-logo.png') }}" height="25px" align="center"></a> - UC_Chellaph <br><br>
        <a href="https://www.linkedin.com/in/prateek-muneesh-chellani/"><img src="{{ url_for('static', filename='linkedIn_PNG38.png') }}" height="25px" align="center"></a> - Prateek Muneesh Chellani
    </h5>
    <h5>If you'd like to download my resume, please click <a href="https://docs.google.com/document/d/1NOSvRu-m0-g-p6NONB4B51ZIWS2eF61GgVk1kdM_m3U/edit?usp=sharing">here</a></h5>

</div>

</body>
</html>