<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Football Fixtures - Team Fixtures</title>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Styles.css') }}">
</head>
<body>

<div class="topnav">
    <a href="/">Home</a>
  <a href="/standings">Standings</a>
  <a href="/results">Results</a>
<div class="dropdown-active"> Teams
    <div class="dropdown-content">

    <button type="button" ><a href="/teams/arsenal">Arsenal</a></button>

    <button type="button" ><a href="/teams/villa">Aston Villa</a></button>

    <button  type="button" > <a href="/teams/brighton">Brighton and Hove Albion</a></button>

    <button  type="button" ><a href="/teams/burnley">Burnley</a></button>

    <button  type="button" ><a href="/teams/chelsea">Chelsea</a></button>

    <button  type="button" ><a href="/teams/palace">Crystal Palace</a></button>

    <button  type="button" ><a href="/teams/everton">Everton</a></button>

    <button  type="button" ><a href="/teams/fulham">Fulham</a></button>

    <button  type="button" ><a href="/teams/leeds">Leeds United</a></button>

    <button  type="button" ><a href="/teams/leicester">Leicester City</a></button>

    <button  type="button" ><a href="/teams/liverpool">Liverpool</a></button>

    <button  type="button" ><a href="/teams/mancity">Manchester City</a></button>

    <button  type="button" ><a href="/teams/manunited">Manchester United</a></button>

    <button  type="button" ><a href="/teams/newcastle">Newcastle United</a></button>

    <button  type="button" ><a href="/teams/sheffield">Sheffield United</a></button>

    <button  type="button" ><a href="/teams/southampton">Southampton</a></button>

    <button  type="button" ><a href="/teams/spurs">Spurs</a></button>

    <button  type="button" ><a href="/teams/westbrom">West Bromwich Albion</a></button>

    <button  type="button"><a href="/teams/westham">West Ham United</a></button>

    <button  type="button" ><a href="/teams/wolves">Wolves</a></button>
</div>
    </div>
     <a href="/contact">Contact</a>
</div>
</div>

</body>
</html>