# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Prateek\Desktop\University Of Cincinnati\Junior Year\Spring 2021\IT3038C - Scripting Languages with AJ Bothe\Flask\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
